*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: rgb(171, 205, 255);
  margin: 0;
}

:root {
  --bar-height: 6px;
  --bar-width: 45px;
  --hamburger-gap:6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}


.hamburger-menu {
  --x-width: calc(var(--hamburger-height)* 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
  width: max-content;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  height: var(--bar-height);
  width: var(--bar-width);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), width var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: 0;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height)/-2);
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height)/2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

.sidebar a {
  font-size: 25px;
  color: #fff;
  font-family: Georgia, serif;
  text-decoration: none;
}

.sidebar ul {
  padding: 0;
}

.sidebar nav ul li {
  display: block;
  list-style: none;
  margin-bottom: 15px;
  border-radius: 3px;
  text-align: center;
}
 

.sidebar ul li:hover a {
  color: #fff;
}
.sidebar ul > li:hover {
  background: #665c5c;
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

